<table class="table table-md mt-2 w-full">
  <thead>
    <tr>
      <th>#</th>
      <th>Icono</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Capital</th>
      <th>Población</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>1</td>
      <td>🌍</td>
      <td>
        <img
          style="width: 30px"
          src="https://flagcdn.com/w320/co.png"
          alt="Colombia"
        />
      </td>
      <td>Colombia</td>
      <td>Bogotá</td>
      <td>50.372.424</td>
      <td>
        <button class="btn btn-sm btn-primary">Ver más...</button>
      </td>
    </tr>
  </tbody>
</table>
